* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 55px;
}

.background-wrapper {
    background-image: url('../../../assets/img/background-wrapper.png');
    background-size: cover;
    background-position: bottom;
}

header {
    padding: 0 50px;
    height: 10vh;

    .header-nav {
        display: flex;
        justify-content: space-between;

        .logo-container {
            padding: 20px;
            font-size: 45px;
            font-weight: 500;

            .logo {
                width: 200px;
                max-width: 100%;
                height: auto;
            }
        }

        .horizontal-menu {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            align-items: center;
            cursor: pointer;

            li {
                margin-right: 10px;
                min-width: 120px;
            }

            li:last-child {
                margin-right: 0;
            }

            a {
                text-decoration: none;
                color: black;
                font-weight: 500;
                font-size: 15px;
            }

            a:hover {
                color: #f06fb4;
            }
        }
    }
}

section {
    padding: 10px 80px;
    height: 100vh;
    width: 100%;
    // background-color: red;

    &#home {
        height: 90vh;
        max-width: 100%;
        overflow: hidden;
        padding: 0;

        .carousel-item {
            display: flex;
            align-items: center;
            width: 100%;
            height: 85vh;
        }

        .carousel-image {
            width: 55%;
            order: 1;

            img {
                height: 80vh;
                width: 100%;
                max-width: 100%;
                border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;
            }
        }

        .carousel-text {
            width: 45%;
            padding: 40px;
            text-align: justify;
            order: 2;

            h3 {
                font-size: 60px;
                font-weight: 400;
                line-height: 60px;
            }

            .abc-care {
                font-weight: 700;
            }

            p {
                margin-top: 40px;
                line-height: 30px;
                font-size: 18px;
            }

            .contact-btn {
                display: flex;
                justify-content: center;

                .contact-us-btn {
                    background-color: #FF90CC;
                    height: 50px;
                    color: #5B0232;
                    width: 300px;
                    border: none;
                    border-radius: 10px;
                    font-size: 20px;
                    margin-top: 30px;
                    font-weight: 500;
                }
            }
        }

        .even-item {
            .carousel-image {
                order: 2;

                img {
                    border-top-right-radius: 0px;
                    border-bottom-right-radius: 0px;
                    border-top-left-radius: 20px;
                    border-bottom-left-radius: 20px;
                }
            }

            .carousel-text {
                order: 1;
            }
        }
    }

    &#services {
        .grid {
            display: flex;
            justify-content: center;
            padding-top: 30px;

            .services-heading {
                text-align: center;

                .heading {
                    font-size: 35px;
                    font-weight: 400;
                    line-height: 45px;
                    margin-top: 0px;
                    color: #2FB400;
                }

                .sub-heading {
                    font-size: 30px;
                    font-weight: 700;
                    line-height: 35px;
                    margin-top: 10px;
                    color: #279400;
                }
            }

            .img-div {
                display: flex;
                align-items: center;
                justify-content: right;

                .service-image {
                    width: 100px;
                }

                .rotate-hand {
                    animation: rotateHand 1s linear infinite;
                }

                @keyframes rotateHand {
                    0% {
                        transform: rotate(0deg);
                    }

                    50% {
                        transform: rotate(30deg);
                    }

                    100% {
                        transform: rotate(0deg);
                    }
                }
            }
        }

        .content {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-top: 100px;

            .service-div {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: justify;
                padding: 22px;
                border-radius: 10px;
                width: 22%;
                // width: calc(40%);
                height: 50vh;

                .title {
                    margin-top: 30px;
                    font-size: 18px;
                }

                .text {
                    margin-top: 30px;
                    font-size: 15px;
                }

                .circle-image {
                    width: 70px;
                    height: 70px;
                    border-radius: 50%;
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }

        }
    }

    &#program {
        height: 150vh;

        .grid {
            display: flex;
            text-align: right;

            .img-div {
                display: flex;
                align-items: center;
                justify-content: left;

                .program-image {
                    width: 100px;
                }

                .block-animation {
                    animation: blockAnimation 0.5s ease-in-out infinite alternate;
                    transform-origin: bottom;
                }

                @keyframes blockAnimation {
                    0% {
                        transform: translateY(0);
                    }

                    100% {
                        transform: translateY(-10px);
                    }
                }
            }

            .text-div {
                display: grid;
                align-items: center;
                justify-content: left;
                text-align: left;

                .heading {
                    font-size: 35px;
                    font-weight: 400;
                    line-height: 45px;
                    margin-top: 0px;
                    color: #E58A02;
                }

                .sub-heading {
                    font-size: 30px;
                    font-weight: 700;
                    line-height: 35px;
                    margin-top: 10px;
                    color: #9B5D00;
                }
            }
        }

        .message {
            margin-top: 10px;
            font-weight: 400;
            font-size: 18px;
        }

        .content {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .program-div {
                display: flex;
                flex-direction: column;
                text-align: justify;
                border-radius: 20px;
                width: calc(40% - 20px);
                // height: 65vh;
                margin: 20px 40px;

                .title {
                    margin-top: 10px;
                    font-size: 18px;
                    padding: 10px;
                }

                .text-div {
                    margin-bottom: 10px;
                    overflow-y: hidden;
                    scrollbar-width: thin;
                    scrollbar-color: #888 transparent;

                    .text {
                        margin-top: 0px;
                        font-size: 15px;
                        padding: 10px;
                    }
                }

                .text-div::-webkit-scrollbar {
                    width: 4px;
                }

                .text-div::-webkit-scrollbar-thumb {
                    background-color: #888;
                    border-radius: 4px;
                }

                .image {
                    width: 100%;
                    height: 70%;
                    min-height: 70%;
                    overflow: hidden;
                    border-top-left-radius: 20px;
                    border-top-right-radius: 20px;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }

    &#mission {
        margin: 0;
        // padding: 0;
        height: 100vh;
        display: grid;
        align-items: center;

        .text-div {
            background-color: #AEFFFA;
            height: 80vh;
            position: relative;
            z-index: 1;

            .mission-header {
                text-align: center;
                margin: 30px;

                h2 {
                    font-size: 35px;
                    font-weight: 700;
                    line-height: 45px;
                    margin-top: 20px;
                    color: #137E78;
                }

                .rocket-img {
                    width: 150px;
                }

                .launch-animation {
                    animation: launchAnimation 1s ease-in-out infinite alternate;
                    transform-origin: bottom;
                }

                @keyframes launchAnimation {
                    0% {
                        transform: translateY(0) rotate(0deg);
                    }

                    100% {
                        transform: translateY(-30px) rotate(-10deg);
                    }
                }

            }

            .mission-content {
                padding: 0 40px;
                text-align: justify;
                margin-top: 0px;
                max-height: 300px;
                overflow: hidden;
                scrollbar-width: thin;
                scrollbar-color: #888 transparent;

                p {
                    font-size: 22px;
                    font-weight: 400;
                    line-height: 35px;
                }
            }

            .mission-content::-webkit-scrollbar {
                width: 4px;
            }

            .mission-content::-webkit-scrollbar-thumb {
                background-color: #888;
                border-radius: 4px;
            }
        }

        .text-div::after {
            content: "";
            position: absolute;
            top: 0;
            right: -50px;
            width: 50px;
            height: 100%;
            background-color: #AEFFFA;
            border-top-right-radius: 60px;
            border-bottom-right-radius: 60px;
        }

        .image-div {
            height: 80vh;
            background-image: url('https://images.unsplash.com/photo-1603354351149-e97b9124020d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1770&q=80');
            background-size: cover;
            background-position: center right;
            box-sizing: border-box;
        }
    }

    &#testimonials {
        height: 100vh;

        .grid {
            display: flex;
            justify-content: center;

            .img-div {
                display: flex;
                align-items: center;
                justify-content: right;

                .testimonial-image {
                    height: 100px;
                }

                .pulse-animation {
                    animation: pulseRotate 1s ease-in-out infinite;
                    transform-origin: center;
                }

                @keyframes pulseRotate {
                    0% {
                        transform: scale(1) rotate(0deg);
                    }

                    50% {
                        transform: scale(1.1) rotate(10deg);
                    }

                    100% {
                        transform: scale(1) rotate(-10deg);
                    }
                }

            }

            .testimonials-heading {
                text-align: center;

                .heading {
                    font-size: 35px;
                    font-weight: 400;
                    line-height: 45px;
                    margin-top: 0px;
                    color: #CEBB0F;
                }

                .sub-heading {
                    font-size: 30px;
                    font-weight: 700;
                    line-height: 35px;
                    margin-top: 10px;
                    color: #7C7000;
                }
            }
        }

        .content {
            margin-top: 100px;

            &.test {
                background-color: red !important;
            }

            .review-block {
                display: flex;
                justify-content: center;
                // padding: 10px;

                .testimonial-div {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: justify;
                    padding: 22px;
                    border-radius: 10px;
                    width: 70%;
                    height: 60vh;

                    .title {
                        margin-top: 30px;
                        font-size: 18px;
                    }

                    .text-div {
                        height: 200px;
                        overflow-y: hidden;
                        scrollbar-width: thin;
                        scrollbar-color: #888 transparent;

                        .text {
                            margin-top: 30px;
                            font-size: 15px;
                        }
                    }

                    .text-div::-webkit-scrollbar {
                        width: 4px;
                    }

                    .text-div::-webkit-scrollbar-thumb {
                        background-color: #888;
                        border-radius: 4px;
                    }

                    .circle-image {
                        width: 70px;
                        height: 70px;
                        border-radius: 50%;
                        overflow: hidden;

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }

    &#location {
        .grid {
            display: flex;
            text-align: right;

            .img-div {
                display: flex;
                align-items: center;
                justify-content: right;

                .location-image {
                    height: 80px;
                }

                .boat-float-animation {
                    animation: seaWave 1s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite alternate;
                    transform-origin: center;
                }

                @keyframes seaWave {
                    0% {
                        transform: translateY(0) translateX(0);
                    }

                    50% {
                        transform: translateY(-5px) translateX(5px);
                    }

                    100% {
                        transform: translateY(0) translateX(0);
                    }
                }


            }

            .text-div {
                display: grid;
                align-items: center;
                justify-content: right;

                .heading {
                    font-size: 35px;
                    font-weight: 400;
                    line-height: 45px;
                    margin-top: 0px;
                    color: black;
                }

                .sub-heading {
                    font-size: 30px;
                    font-weight: 700;
                    line-height: 35px;
                    margin-top: 10px;
                    color: black;
                }
            }
        }

        .map {
            border-radius: 10px;
            width: 100%;
            height: 80vh;
            margin-top: 10px;
        }
    }
}

.footer {
    background-color: #FFE0FC;
    padding: 40px 0;
    border-top: 1px solid #ddd;

    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 20px;

        .grid {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-bottom: 20px;

            .col-6 {
                flex: 0 0 calc(50% - 20px);
                padding: 0 10px;
            }

            .footer-section {
                text-align: justify;
                padding-right: 20px;

                h3 {
                    color: black;
                    font-weight: bold;
                    margin-bottom: 10px;
                    font-size: 20px;
                }

                p,
                a,
                span {
                    font-size: 14px;
                    color: black;
                    margin-bottom: 10px;
                }

                .detail {
                    font-weight: 700;
                }
            }

            .social-icons {
                list-style: none;
                padding: 0;
                margin: 0;

                li {
                    display: inline-block;
                    margin-right: 10px;

                    a {
                        font-size: 20px;
                        color: black;
                        text-decoration: none;

                        &:hover {
                            color: #f06fb4;
                        }
                    }
                }
            }
        }
    }
}

.mobile-menu-panel {
    position: fixed;
    top: 0;
    right: -320px;
    height: 100%;
    width: 320px;
    background-color: #FFE0FC;
    transition: right 0.3s ease-in-out;
    text-align: center;
    z-index: 2;

    .mobile-menu {
        list-style: none;
        padding: 0;
        margin-top: 50%;

        li {
            padding: 20px;
            border: none;
        }

        a {
            text-decoration: none;
            color: black;
            font-weight: bold;
            font-size: 16px;
        }

        a:hover {
            color: #f06fb4;
        }
    }

    .close-icon {
        display: flex;
        position: absolute;
        bottom: 40px;
        justify-content: center;
        cursor: pointer;
        color: black;
        width: 100%;

        .fas {
            font-size: 30px;
        }
    }

    .close-icon:hover {
        color: #f06fb4;
    }
}

.mobile-menu-panel.open {
    right: 0;
}

@media screen and (max-width: 320px) {
    section {
        padding: 10px 30px;

        &#home {

            .carousel-item {
                flex-direction: column;
                width: 100%;
                height: 85vh;
            }

            .carousel-image {
                width: 100%;

                img {
                    height: 30vh;
                    width: 100%;
                    border-top-right-radius: 0px;
                    border-bottom-right-radius: 0px;
                }
            }

            .carousel-text {
                width: 100%;
                padding: 10px;

                .carousel-content {
                    height: 40vh;
                    overflow: hidden;

                    h3 {
                        font-size: 30px;
                        line-height: 35px;
                    }

                    p {
                        margin-top: 10px;
                        line-height: 20px;
                        font-size: 16px;
                    }
                }

                .contact-btn {
                    height: 25vh;

                    .contact-us-btn {
                        height: 40px;
                        width: 100%;
                        font-size: 18px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 425px) {
    section {
        padding: 10px 30px;

        &#services {
            height: 185vh;

            .grid {
                .services-heading {
                    .heading {
                        font-size: 30px;
                        line-height: 30px;
                    }

                    .sub-heading {
                        font-size: 20px;
                        line-height: 20px;
                    }
                }
            }

            .content {
                margin-top: 10px;
                justify-content: center;

                .service-div {
                    width: 80%;
                    height: 36vh;
                    margin: 15px 20px;

                    .title {
                        margin-top: 15px;
                        font-size: 16px;
                    }

                    .text {
                        margin-top: 15px;
                        font-size: 14px;
                    }

                    .circle-image {
                        width: 60px;
                        height: 60px;
                    }
                }
            }
        }

        &#program {
            height: 190vh;

            .grid {
                .text-div {
                    .heading {
                        font-size: 30px;
                        line-height: 30px;
                        margin-top: 0px;
                    }

                    .sub-heading {
                        font-size: 20px;
                        line-height: 20px;
                    }
                }
            }

            .message {
                font-size: 15px;
            }

            .content {
                margin-top: 0px;
                justify-content: center;

                .program-div {
                    width: 80%;
                    height: 35vh;
                    margin: 20px 10px;

                    .title {
                        margin-top: 0px;
                        font-size: 14px;
                        line-height: 15px;
                        padding-top: 5px;
                        padding-bottom: 0px;
                    }

                    .text-div {
                        margin-bottom: 5px;

                        .text {
                            margin-top: 5px;
                            font-size: 12px;
                            padding-top: 0;
                        }
                    }

                    .circle-image {
                        width: 60px;
                        height: 60px;
                    }
                }
            }
        }

        &#testimonials {
            .grid {
                .testimonials-heading {
                    .heading {
                        font-size: 30px;
                        line-height: 30px;
                        margin-top: 40px;
                    }

                    .sub-heading {
                        font-size: 20px;
                        line-height: 20px;
                    }
                }
            }

            .content {
                margin-top: 60px;

                .review-block {
                    .testimonial-div {
                        width: 100%;

                        .title {
                            margin-top: 30px;
                            font-size: 18px;
                        }

                        .circle-image {
                            width: 80px;
                            height: 80px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 576px) {
    section {
        padding: 10px 30px;

        &#mission {
            margin-top: 20px;
            height: 100vh;

            .text-div {
                height: 50vh;

                .mission-header {
                    text-align: center;
                    margin: 0px;

                    h2 {
                        font-size: 30px;
                        line-height: 30px;
                        margin-top: 20px;
                    }

                    .rocket-img {
                        width: 80px;
                    }

                }

                .mission-content {
                    padding: 0 40px;
                    text-align: justify;
                    margin-top: 0px;
                    max-height: 30vh;
                    overflow: hidden;

                    p {
                        font-size: 16px;
                        line-height: 25px;
                    }
                }
            }

            .text-div::after {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                width: 0;
                height: 100%;
                border-top-right-radius: 0px;
                border-bottom-right-radius: 0px;
            }

            .image-div {
                height: 50vh;
                background-image: url('https://images.unsplash.com/photo-1603354351149-e97b9124020d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1770&q=80');
                background-size: cover;
                background-position: center right;
                box-sizing: border-box;
            }
        }

        &#location {
            margin-bottom: 20px;

            .grid {
                .img-div {
                    .location-image {
                        height: 80px;
                    }
                }

                .text-div {
                    .heading {
                        font-size: 30px;
                        line-height: 30px;
                        margin-top: 0px;
                    }

                    .sub-heading {
                        font-size: 20px;
                        line-height: 20px;
                    }
                }
            }

            .map {
                height: 84vh;
            }
        }
    }

    .footer {

        .container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 0 20px;

            .grid {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                margin-bottom: 20px;

                .col-6 {
                    flex: 0 0 calc(50% - 20px);
                    padding: 0 10px;
                }

                .footer-section {
                    text-align: center;
                    padding-right: 0;

                    h3 {
                        color: black;
                        font-weight: bold;
                        margin-bottom: 10px;
                        font-size: 20px;
                    }

                    p,
                    a,
                    span {
                        font-size: 14px;
                        color: black;
                        margin-bottom: 10px;
                    }

                    .detail {
                        font-weight: 700;
                    }
                }


                .social-icons {
                    list-style: none;
                    padding: 0;
                    margin: 0;

                    li {
                        display: inline-block;
                        margin-right: 10px;

                        a {
                            font-size: 20px;
                            color: black;
                            text-decoration: none;

                            &:hover {
                                color: #f06fb4;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .background-wrapper {
        background-image: none;
    }

    header {
        padding: 0 10px;

        .header-nav {
            .logo-container {
                padding: 10px;
                font-size: 40px;

                .logo {
                    width: 150px;
                }
            }

            .horizontal-menu {
                display: none;

            }

            .mobile-menu {
                display: block;
            }

            .mobile-menu-icon {
                display: flex;
                align-items: center;
                margin-right: 10px;

                .fas {
                    font-size: 25px;
                }
            }
        }
    }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
    section {
        padding: 10px 30px;

        &#home {

            .carousel-item {
                flex-direction: column;
                width: 100%;
                height: 85vh;
            }

            .carousel-image {
                width: 100%;

                img {
                    height: 40vh;
                    width: 100%;
                    border-top-right-radius: 0px;
                    border-bottom-right-radius: 0px;
                }
            }

            .carousel-text {
                width: 100%;
                padding: 10px;

                .carousel-content {
                    height: 30vh;
                    overflow: hidden;

                    h3 {
                        font-size: 30px;
                        line-height: 35px;
                    }

                    p {
                        margin-top: 10px;
                        line-height: 20px;
                        font-size: 16px;
                    }
                }

                .contact-btn {
                    height: 5vh;

                    .contact-us-btn {
                        height: 40px;
                        width: 50%;
                        font-size: 18px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
    section {
        padding: 10px 30px;

        &#services {
            .grid {
                .services-heading {
                    .heading {
                        font-size: 30px;
                        line-height: 30px;
                    }

                    .sub-heading {
                        font-size: 20px;
                        line-height: 20px;
                    }
                }
            }

            .content {
                margin-top: 10px;
                justify-content: center;

                .service-div {
                    width: calc(40% - 10px);
                    height: 35vh;
                    margin: 10px 20px;

                    .title {
                        margin-top: 10px;
                        font-size: 14px;
                    }

                    .text {
                        margin-top: 10px;
                        font-size: 12px;
                    }

                    .circle-image {
                        width: 50px;
                        height: 50px;
                    }
                }
            }
        }

        &#program {
            height: 120vh;

            .grid {
                .text-div {
                    .heading {
                        font-size: 30px;
                        line-height: 30px;
                        margin-top: 0px;
                    }

                    .sub-heading {
                        font-size: 20px;
                        line-height: 20px;
                    }
                }
            }

            .message {
                font-size: 16px;
            }

            .content {
                .program-div {
                    border-radius: 20px;
                    width: calc(50% - 20px);
                    height: 45vh;
                    margin: 10px 10px;

                    .title {
                        margin-top: 5px;
                        font-size: 16px;
                        padding: 0 10px;
                    }

                    .text-div {
                        margin-bottom: 10px;

                        .text {
                            margin-top: 0px;
                            font-size: 12px;
                            padding: 10px;
                        }
                    }

                    .image {
                        height: 60%;
                        min-height: 60%;
                    }
                }
            }
        }

        &#testimonials {
            .grid {
                .testimonials-heading {
                    text-align: center;

                    .heading {
                        font-size: 30px;
                        line-height: 30px;
                    }

                    .sub-heading {
                        font-size: 20px;
                        line-height: 20px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
    section {
        padding: 10px 30px;

        &#mission {
            .text-div {
                .mission-header {
                    text-align: center;
                    margin: 20px;

                    h2 {
                        font-size: 30px;
                        line-height: 30px;
                        margin-top: 20px;
                    }

                    .rocket-img {
                        width: 100px;
                    }

                }

                .mission-content {
                    padding: 0 20px;
                    margin-top: 0px;
                    max-height: 350px;
                    overflow: hidden;

                    p {
                        font-size: 18px;
                        line-height: 30px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    section {
        padding: 10px 30px;

        &#home {

            .carousel-image {
                width: 50%;

                img {
                    height: 60vh;
                }
            }

            .carousel-text {
                width: 50%;
                padding: 20px;
                background-color: transparent;

                h3 {
                    font-size: 38px;
                    font-weight: 400;
                    line-height: 40px;
                }

                p {
                    font-size: 16px;
                    margin-top: 5%;
                    line-height: 25px;
                }

                .contact-btn {
                    .contact-us-btn {
                        height: 40px;
                        width: 200px;
                        font-size: 18px;
                        margin-top: 10%;
                    }
                }
            }
        }

        &#services {
            margin-bottom: 20px;

            .grid {
                .services-heading {

                    .sub-heading {
                        font-size: 27px;
                    }
                }
            }

            .content {
                margin-top: 20px;
                justify-content: center;

                .service-div {
                    width: calc(40% - 10px);
                    height: 35vh;
                    margin: 10px 20px;

                    .title {
                        margin-top: 20px;
                        font-size: 18px;
                    }

                    .text {
                        margin-top: 15px;
                        font-size: 15px;
                    }

                    .circle-image {
                        width: 80px;
                        height: 80px;
                    }
                }
            }
        }
    }
}