<div class="background-wrapper">
  <header #header>
    <nav class="header-nav">
      <div class="logo-container">
        <img src="../../../assets/img/abc_care_logo.png" class="logo" alt="ABC Care Logo">
      </div>
      <div class="mobile-menu-icon" *ngIf="isMobile" (click)="toggleMobileMenu()" #mobileMenuIcon>
        <i class="fas fa-bars"></i>
      </div>
      <div class="mobile-menu-panel" [ngClass]="{ 'open': mobileMenuVisible }" #mobileMenuPanel>
        <ul class="mobile-menu">
          <li><a (click)="scrollTo('home'); closeMobileMenuOnClick()">Home</a></li>
          <!-- <li><a (click)="scrollTo('services'); closeMobileMenuOnClick()">Services</a></li> -->
          <li><a (click)="scrollTo('program'); closeMobileMenuOnClick()">Programs</a></li>
          <li><a (click)="scrollTo('mission'); closeMobileMenuOnClick()">Registration</a></li>
        </ul>
        <div class="close-icon" (click)="closeMobileMenuOnClick()">
          <i class="fas fa-times"></i>
        </div>
      </div>
      <ul class="horizontal-menu">
        <li><a (click)="scrollTo('home')">Home</a></li>
        <!-- <li><a (click)="scrollTo('services')">Services</a></li> -->
        <li><a (click)="scrollTo('program')">Programs</a></li>
        <li><a (click)="scrollTo('mission')">Registration</a></li>
      </ul>
    </nav>
  </header>

  <section id="home">
    <p-carousel [value]="carouselItems" [circular]="true" [numVisible]="1" [numScroll]="1" [autoplayInterval]="5000">
      <ng-template let-item pTemplate="item">
        <div class="carousel-item" [ngClass]="{ 'even-item': isEven(item) && !isMobile }">
          <div class="carousel-image">
            <img [src]="item.image" alt="Screen Image">
          </div>
          <div class="carousel-text">
            <div class="carousel-content">
              <h3>{{ item.heading }}</h3>
              <h1 class="abc-care">{{ item.subHeading }}</h1>
              <p>{{ item.text }}</p>
            </div>
            <div class="contact-btn">
              <button class="contact-us-btn" style="cursor: pointer;" (click)="showDialog()">Contact Us</button>
            </div>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </section>
</div>

<p-dialog header="Contact Details" [(visible)]="displayDialog" [modal]="true" [responsive]="true">
  <div style="text-align: center;">
    <br>
    <p>31/8/G1, 2nd Lane,</p>
    <p>Wanatha Road,</p>
    <p>Gangodawila,</p>
    <p>Nugegoda</p>
    <br><br>
    <p><a href="mailto:info@abccarecentre.com">Email : info@abccarecentre.com</a></p><br>
    <p>Phone : 070 665 6686</p><br>
    <p>WhatsApp : +61 40 324 3411</p><br>
  </div>
</p-dialog>

<!-- Our Services Section -->
<!-- <section id="services">
  <div class="grid">
    <div class="col-2 img-div" *ngIf="!isMobile">
      <img src="../../../assets/img/hand.png" alt="Service Image" class="service-image rotate-hand">
    </div>
    <div class="col-12 md:col-8 services-heading">
      <h2 class="heading">Our Services</h2>
      <h2 class="sub-heading">We offer a range of services to meet your needs</h2>
    </div>
    <div class="col-2" *ngIf="!isMobile">
    </div>
  </div>
  <div class="content">
    <div class="service-div" *ngFor="let item of services" [ngStyle]="{ 'background-color': item.color }">
      <div class="circle-image">
        <img [src]="item.imageUrl" alt="{{ item.title }} Image" />
      </div>
      <h3 class="title">{{ item.title }}</h3>
      <p class="text">{{ item.text }}</p>
    </div>
  </div>
</section> -->

<!-- Our Program Section -->
<section id="program">
  <div class="grid">
    <div class="col-8 sm:col-6 md:col-5 lg:col-4 text-div">
      <h2 class="heading">Our Program</h2>
      <h2 class="sub-heading">Program we offered</h2>
    </div>
    <div class="col-4 sm:col-6 md:col-7 lg:col-8 img-div">
      <img src="../../../assets/img/child.png" alt="Program Image" class="program-image block-animation">
    </div>
  </div>
  <div class="content">
    <ng-container *ngFor="let item of programs; let i = index">
      <div class="program-div" [ngStyle]="{ 'background-color': item.color }">
        <div class="image">
          <img [src]="item.imageUrl" alt="{{ item.title }} Image" />
        </div>
        <h3 class="title">{{ item.title }}</h3>
        <div class="text-div">
          <p class="text">{{ item.text }}</p>
        </div>
      </div>
    </ng-container>
  </div>
</section>

<!-- Our Mission Section -->
<section id="mission">
  <div class="grid">
    <div class="col-12 sm:col-6 text-div">
      <div class="grid mission-header">
        <div class="col-12 md:col-7">
          <h2>Registration</h2>
        </div>
        <div class="col-12 md:col-5">
          <img src="../../../assets/img/rocket.png" class="rocket-img launch-animation" alt="Rocket image">
        </div>
      </div>
      <div class="mission-content">
        <p>To secure a place in our Preschool, Aftercare and Vacation Care Programs starting from December 2023, please
          contact</p><br>
        <div class="row">
          <div class="col-10 md:col-8 mx-auto">
            <p style="font-weight: bold;"><span style="font-weight: bold;">Mobile</span>: 070 665 6686</p>
            <p style="font-weight: bold;"><span style="font-weight: bold;">WhatsApp</span>: +61 40 324 3411
            </p>
            <p style="font-weight: bold;"><a style="font-weight: bold;" href="mailto:info@abccarecentre.com"
                class="registration-email"><span style="font-weight: bold;">Email</span>:
                info@abccarecentre.com</a></p>
          </div>
        </div>
        <br>
        <p>We encourage parents to take advantage of this early registration opportunity to guarantee a place for their
          child in these sought-after programs.</p><br>
        <p style="font-weight: bold;">We charge no "Admission Fees" for a limited period.</p>
      </div>
    </div>
    <div class="col-12 sm:col-6 image-div">
    </div>
  </div>
</section>

<!-- Testimonials Section -->
<!-- <section id="testimonials">
  <div class="grid">
    <div class="col-2 img-div" *ngIf="!isMobile">
      <img src="../../../assets/img/children.png" alt="Testimonials Image" class="testimonial-image pulse-animation">
    </div>
    <div class="col-12 md:col-8 testimonials-heading">
      <h2 class="heading">Testimonials</h2>
      <h2 class="sub-heading">Here are what our parents say about us</h2>
    </div>
    <div class="col-2" *ngIf="!isMobile">
    </div>
  </div>
  <div class="content">
    <p-carousel [value]="testimonials" [numVisible]="3" [responsiveOptions]="responsiveOptions" [numScroll]="1"
      [circular]="true" [autoplayInterval]="5000">
      <ng-template let-item pTemplate="item">
        <div class="review-block">
          <div class="testimonial-div" [ngStyle]="{ 'background-color': item.color }">
            <div class="circle-image">
              <img [src]="item.imageUrl" alt="{{ item.title }} Image" />
            </div>
            <h3 class="title">{{ item.title }}</h3>
            <div class="text-div">
              <p class="text">{{ item.text }}</p>
            </div>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>
</section> -->

<!-- Our Location Section -->
<section id="location">
  <div class="grid">
    <div class="col-4 sm:col-6 md:col-8 lg:col-8 img-div">
      <img src="../../../assets/img/boat.png" alt="Location Image" class="location-image boat-float-animation">
    </div>
    <div class="col-8 sm:col-6 md:col-4 lg:col-4 text-div">
      <h2 class="heading">Our Location</h2>
      <h2 class="sub-heading">Where to find us</h2>
    </div>
  </div>
  <div class="content">
    <div class="map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d573.2959196710402!2d79.90285850197685!3d6.859696570326785!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ae25a63cb5ff9cd%3A0x61ceb926924a01f!2s63%202nd%20Ln%2C%20Nugegoda!5e0!3m2!1sen!2slk!4v1699696678948!5m2!1sen!2slk"
        width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</section>

<footer class="footer" id="contact-us">
  <div class="container">
    <div class="grid">
      <div class="col-12 sm:col-6">
        <div class="footer-section">
          <h3>Contact Us</h3>
          <p>31/8/G1, 2nd Lane,</p>
          <p>Wanatha Road,</p>
          <p>Gangodawila,</p>
          <p>Nugegoda</p><br>
          <p><a href="mailto:info@abccarecentre.com">info@abccarecentre.com</a></p><br>
          <p><i class="fa-solid fa-square-phone mr-2"></i>070 665 6686</p>
          <p><i class="fa-brands fa-whatsapp mr-2"></i>+61 40 324 3411</p>
        </div>
      </div>
      <div class="col-12 sm:col-6">
        <div class="footer-section">
          <h3>About Us</h3>
          <p>ABC Care Private Limited, an English medium childcare provider, operates under Australian management,
            ensuring a high standard of childcare.</p><br>
          <h3>Follow Us</h3>
          <ul class="social-icons">
            <li><a class="fa-brands fa-facebook"></a></li>
            <li><a class="fa-brands fa-twitter"></a></li>
            <li><a class="fa-brands fa-linkedin"></a></li>
            <li><a class="fa-brands fa-instagram"></a></li>
          </ul><br>
          <div>
            <img src="../../../assets/img/abc_care_logo.png" style="width: 50px;" alt="ABC Care Logo">
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<p-scrollTop target="window" [threshold]="100" icon="fas fa-arrow-up"></p-scrollTop>