<div class="background-wrapper">
  <header #header>
    <nav class="header-nav">
      <div class="logo-container">
        ABC Care
        <!-- <img src="../../../assets/img/kikblox_logo.webp" class="logo" alt="ABC Care Logo"> -->
      </div>
      <div class="mobile-menu-icon" *ngIf="isMobile" (click)="toggleMobileMenu()" #mobileMenuIcon>
        <i class="fas fa-bars"></i>
      </div>
      <div class="mobile-menu-panel" [ngClass]="{ 'open': mobileMenuVisible }" #mobileMenuPanel>
        <ul class="mobile-menu">
          <li><a (click)="scrollTo('home'); closeMobileMenuOnClick()">Home</a></li>
          <li><a (click)="scrollTo('blog'); closeMobileMenuOnClick()">Blog</a></li>
          <li><a (click)="scrollTo('about'); closeMobileMenuOnClick()">About Us</a></li>
          <li><a (click)="scrollTo('gallery'); closeMobileMenuOnClick()">Gallery</a></li>
        </ul>
        <div class="close-icon" (click)="closeMobileMenuOnClick()">
          <i class="fas fa-times"></i>
        </div>
      </div>
      <ul class="horizontal-menu">
        <li><a (click)="scrollTo('home')">Home</a></li>
        <li><a (click)="scrollTo('blog')">Blog</a></li>
        <li><a (click)="scrollTo('about')">About Us</a></li>
        <li><a (click)="scrollTo('gallery')">Gallery</a></li>
      </ul>
    </nav>
  </header>

  <section id="home">
    <p-carousel [value]="carouselItems" [circular]="true" [numVisible]="1" [numScroll]="1" [autoplayInterval]="3000">
      <ng-template let-item pTemplate="item">
        <div class="carousel-item" [ngClass]="{ 'even-item': isEven(item) && !isMobile }">
          <div class="carousel-image">
            <img [src]="item.image" alt="Screen Image">
          </div>
          <div class="carousel-text">
            <div class="carousel-content">
              <h3>{{ item.heading }}</h3>
              <h3 class="abc-care">ABC-Care Daycare</h3>
              <p>{{ item.text }}</p>
            </div>
            <div class="contact-btn">
              <button class="contact-us-btn">Contact Us</button>
            </div>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </section>
</div>

<!-- Our Services Section -->
<section id="services">
  <div class="grid services-heading-block">
    <div class="col-10 services-heading">
      <h2 class="heading">Our Services</h2>
      <h2 class="sub-heading">We provide our best services to your children</h2>
    </div>
  </div>
  <div class="content">
    <div class="service-div" *ngFor="let item of services" [ngStyle]="{ 'background-color': item.color }">
      <div class="circle-image">
        <img [src]="item.imageUrl" alt="{{ item.title }} Image" />
      </div>
      <h3 class="title">{{ item.title }}</h3>
      <p class="text">{{ item.text }}</p>
    </div>
  </div>
</section>

<!-- Our Program Section -->
<section id="program">
  <div class="grid program-heading-block">
    <div class="col-12 program-heading">
      <h2 class="heading">Our Program</h2>
      <h2 class="sub-heading">Program we offered</h2>
      <h2 class="message">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
        been the industry's standard dummy text.</h2>
    </div>
  </div>
  <div class="content">
    <ng-container *ngFor="let item of programs; let i = index">
      <div class="service-div" [ngStyle]="{ 'background-color': item.color }">
        <div class="image">
          <img [src]="item.imageUrl" alt="{{ item.title }} Image" />
        </div>
        <h3 class="title">{{ item.title }}</h3>
        <div class="text-div">
          <p class="text">{{ item.text }}</p>
        </div>
      </div>
    </ng-container>
  </div>
</section>

<!-- Our Mission Section -->
<section id="mission">
  <div class="grid">
    <div class="col-12 sm:col-6 text-div">
      <div class="grid mission-header">
        <div class="col-12 sm:col-9">
          <h2>Our Mission</h2>
        </div>
        <div class="col-12 sm:col-3">
          <img src="../../../assets/img/rocket.png" class="rocket-img" alt="Rocket image">
        </div>
      </div>
      <div class="mission-content">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's
          standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
          make
          a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
          containing
          Lorem Ipsum passages.</p>
      </div>
    </div>
    <div class="col-12 sm:col-6 image-div">
    </div>
  </div>
</section>

<!-- Testimonials Section -->
<section id="testimonials">
  <div class="grid">
    <div class="col-10 testimonials-heading">
      <h2 class="heading">Testimonials</h2>
      <h2 class="sub-heading">Here are what our parents say about us</h2>
    </div>
  </div>
  <div class="content">
    <p-carousel [value]="testimonials" [numVisible]="3" [numScroll]="1" [circular]="true" [autoplayInterval]="3000">
      <ng-template let-item pTemplate="item">
        <div class="review-block">
          <div class="testimonial-div" [ngStyle]="{ 'background-color': item.color }">
            <div class="circle-image">
              <img [src]="item.imageUrl" alt="{{ item.title }} Image" />
            </div>
            <h3 class="title">{{ item.title }}</h3>
            <p class="text">{{ item.text }}</p>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>
</section>

<!-- Blog Section -->
<section id="blog">
  <div class="section-content">
    <h2>Latest Blog Posts</h2>
    <ul>
      <li><a href="#">Blog Post 1</a></li>
      <li><a href="#">Blog Post 2</a></li>
      <li><a href="#">Blog Post 3</a></li>
      <li><a href="#">Blog Post 4</a></li>
      <li><a href="#">Blog Post 5</a></li>
      <li><a href="#">Blog Post 6</a></li>
      <li><a href="#">Blog Post 7</a></li>
      <li><a href="#">Blog Post 8</a></li>
      <li><a href="#">Blog Post 9</a></li>
      <li><a href="#">Blog Post 10</a></li>
    </ul>
  </div>
</section>

<!-- About Us Section -->
<section id="about">
  <div class="section-content">
    <h2>About Us</h2>
    <p>We are a passionate team dedicated to providing top-quality services to our clients. Lorem ipsum dolor sit amet,
      consectetur adipiscing elit.</p>
  </div>
</section>

<!-- Gallery Section -->
<section id="gallery">
  <div class="section-content">
    <h2>Photo Gallery</h2>
    <div class="gallery">
      <img src="assets/image1.jpg" alt="Image 1">
      <img src="assets/image2.jpg" alt="Image 2">
      <img src="assets/image3.jpg" alt="Image 3">
    </div>
  </div>
</section>

<p-scrollTop target="window" [threshold]="100" icon="fas fa-arrow-up"></p-scrollTop>